{% extends 'base.html' %}
<!-- start of block content -->
{% block content %}
<div class="margin-y-xs container-x-auto width-100 height-auto">
  <div
    class="
      row-spaced-static
      width-80
      white-background white-border
      container-x-sm
      margin-x-auto
    "
  >
    <p class="body-xl-bold primary-text width-100">Your Courses</p>

    <form
      action="/courses/registered/search"
      method="POST"
      class="inline-form width-auto"
    >
      <input
        type="text"
        name="search_query"
        id="search_query"
        placeholder="Search registered courses..."
      />
    </form>
  </div>
</div>

<div class="row-center-flexible width-80 margin-x-auto height-auto">
  {% if registered %} {% for item in registered %}
  <div class="registered-card-lg white-background white-border">
    <div class="row-center-static width-100 margin-none">
      <img src="{{item.thumbnail}}" alt="" />
    </div>
    <div class="registered-text-lg width-100 container-x-xs margin-y-xs">
      <div class="row-start-static width-auto margin-none">
        <p class="primary-text margin-x-xs margin-y-xxs body-lg-bold">
          {{item.name}}
        </p>
      </div>
      <div class="row-spaced-flexible width-auto">
        <p class="secondary-text width-30 margin-xs body-md-bold">Progress</p>
        <div class="light-background light-border width-70 margin-x-sm">
          <div
            class="secondary-background secondary-border {{item.progress}}"
            style="padding: 3px"
          ></div>
        </div>
      </div>
      <div class="row-spaced-static width-100 margin-none">
        <p class="secondary-text body-md-bold margin-x-xs">Next Lesson</p>
        <p class="primary-text body-md-bold margin-x-sm">
          {{item.next_lesson}}
        </p>
      </div>
      <div class="row-end-static width-80 margin-x-auto container-y-xs">
        <a
          href="/courses/registered/view/{{item.id}}"
          class="
            secondary-button
            width-40
            body-sm-bold
            margin-0
            text-center
            secondary-border
            container-xs
          "
        >
          View
        </a>
      </div>
    </div>
  </div>

  {% endfor %} {% else %}
  <div class="row-static-center w-100">
    <p class="secondary-text-text-center body-md-bold width-100">
      You have not registered for any course
    </p>
  </div>
  {% endif %}
</div>

{% endblock content %}
